.git
.github
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
checkpoints/
notebook/.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
node_modules/
pip-wheel-metadata/
*.egg-info/
patching/__pycache__/
patching/hydra.cpython-*
uv.lock.bak
